[Unit]
Description=My Launcher Script
After=getty.target
# Wayting for psplash screen appearance
# After=psplash-start.service

[Service]
Type=oneshot
ExecStart=/usr/bin/my-launcher.sh
User=root
WorkingDirectory=/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target